

.site-header p {
    color: white;
}

.site-header{
    margin-bottom: -15px;
}

.site-footer:last-child {
    font-size: 12px;
    text-align: center;
}

.message.message--unread:last-child {
    box-shadow: 4px 4px 0 #dba944;
}